.tarjet-container{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    color: #48465b;
  
    font-family: Poppins, Helvetica, sans-serif;
}
.tarjet-information{
    width: 50%;
}
.tarjet-icon{
    width: 50%;
}
h3{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.title-tarjet{
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #48465b;
}