.tarjet-container{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}
.header-tarjer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}
.number-tarjeta{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number-tarjeta h1{
    font-size: 70px;
    color: #BDD535
}
.hr-style{
    border: 1px solid #434040;
    width: 80%;
}